body
{

    background-image: url(../ImageFile/arrows-blur-close-up-163130.jpg);

    background-repeat: no-repeat;

    background-attachment:fixed;

    width: 100%;

    height: 100%;

    align-self: center;

    align-items: center;

    alignment: center;
}

h1
{
    text-align: center;
    color: #115cff;
}

.tableForIndex
{
    width: 60%;

    border: 3px;

    background-color: #FFA500;

    opacity: 20%;

    border-collapse:collapse;
}

th
{
    text-align: right;

    width: 45%;

    background: #91ffa3;
}

td
{
    text-align: center;

    background: #FFD700;
}


