body
{
    align-items: center;
}

h1
{
    text-align: center;
    font-family: "Kaiti TC";
}

table
{
    border: 2px blue;

    width: 80%;
}

td
{
    text-align: center;
}

.a
{
    width: 10%;
    background-color: #63a0ff;
}

.b
{
    width: 30%;
    background-color: #6b6bff;
}

.c
{
    width: 30%;
    background-color: #3b62ff;
}


.d
{
    width: 30%;
    background-color: #2baaff;
}

